header {
  background-color: hsl(189, 74%, 56%);
  color: white;
  padding: 1em;
}

.navbar {
  color: white;
  text-decoration: none;
  margin-right: 1em;
  font-weight: bold;
}

.facebook {
  color: hsl(189, 74%, 56%);
  margin-right: 1em;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.container {
  font-size: 20px;
  padding: 2em;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: antiquewhite;
  text-align: center;
}

footer {
  background-color: hsl(189, 74%, 56%);
  color: white;
  text-align: center;
  position: fixed;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  padding: 8px;
}
